<div id="banner">
    <div id="text">
        <div id="title">prologue</div>
        <div id="subtext">single-page apps made easy</div>
    </div>
</div>

<div id="menu">
    <ul>
        <li><a href="#">home</a></li>
        <li><a href="#documentation">documentation</a></li>
        <li><a href="#foundation">foundation</a></li>
        <li><a href="http://github.com/leadhead9/prologue" target="_blank">source</a></li>
    </ul>
</div>

<!-- Content of this element will change based on the hash -->
<div id="route-view"></div>
